@font-face {
    /* Cedora Bold font by Lafontype used from https://www.1001fonts.com/sleek-fonts.html?page=6*/
    font-family: CedoraBold;
    font-weight: bold;
    src: url("Cedora-Bold.otf") format("opentype");
}

html,body{
    font-family: CedoraBold;
    height: 100%;
    background-image: linear-gradient(to bottom right, #12214a, #495d92);
    overflow: hidden;
    color: #bdc9db;
}

body {
    font-size: 18px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    z-index: 20;
}

main {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    width: 100%;
}

header {
    margin-left: 20px;
    margin-top: -60px;
    z-index: 20;
}

#siteTitle {
    font-size: 80px;
    z-index: 20;
}

#AIHeader {
    margin-top: 43px;
    font-size: 35px;
    z-index: 20;
}

#floodStatusButton {
    margin-left: 20px;
    margin-top: -60px;
    z-index: 20;
}

button {
    background-color: #e1c065;
    padding: 20px;
    color: black;
    width: fit-content;
    border: none;
    border-radius: 50px;
    font-size: 30px;
    outline: none;
    font-weight: bold;
    z-index: 20;
}

button:hover {
    transform: scale(1.1);
    z-index: 20;
}

.inputArea {
    display: flex;
    flex-direction: row;
    z-index: 20;
}

#cityInput {
    width: fit-content;
    margin-left: 20px;
    margin-top: 30px;
    padding: 20px;
    border: none;
    border-radius: 50px;
    background-color: black;
    font-size: 30px;
    outline: none;
    opacity: 30%;
    color: white;
    z-index: 20;
}

#cityInput::placeholder {
    color: white;
    z-index: 20;
}

#cityInputButton {
    background-color: #e1c065;
    margin-top: 30px;
    margin-left: 20px;
    padding: 20px;
    color: black;
    width: fit-content;
    border: none;
    border-radius: 50px;
    font-size: 30px;
    outline: none;
    font-weight: bold;
    z-index: 20;
}

#outputSection {
    display: none;
    width: 510px;
    height: 510px;
    margin-left: 20px;
    margin-top: 32px;
    padding: 20px;
    border: none;
    border-radius: 30px;
    background-color: #718cb6;
	opacity: 80%;
    font-size: 20px;
	flex-direction: column;
    color: rgb(44, 44, 44);
    z-index: 20;
}

footer {
    font-size: 15px;
    text-align: left;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 20;
}

embed {
	display: none;
	position:absolute;
	z-index:100;
	margin-left: 40px;
	margin-bottom: 25px;
	bottom: 00px;
	height: 250px;
}


#rotatingGlobe{
    user-select: none;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -200px;
    right: 50px;
    transform: scale(2.3);
    transition: top 2s ease, bottom 2s ease;
}
