@font-face {
    /* Cedora Bold font by Lafontype used from https://www.1001fonts.com/cedora-font.html*/
    font-family: CedoraBold;
    font-weight: bold;
    src: url("Cedora-Bold.otf") format("opentype");
}


@font-face {
    /* Barlow Condensed font by Google used from https://fonts.google.com/share?selection.family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900*/
    font-family: BarlowCondensed;
    font-weight: bold;
    src: url("BarlowCondensed-Regular.ttf") format("truetype");
}


@keyframes fadeIn {
    from {opacity: 0; }
    to {opacity: 1;}
}


@keyframes fadeAway {
    from {opacity: 1;}
    to {opacity: 0; display: none;}
}


html,body{
    font-family: CedoraBold;
    height: 100%;
    background-image: linear-gradient(to bottom right, #12214a, #495d92);
    overflow: hidden;
}


body {
    font-size: 18px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}


main {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}


header {
    text-align: center;
    width: 100%;
}


#siteTitle {
    font-size: 60px;
    transition: margin-left 1s;
    display: inline-block;
    color: #bdc9db;
    white-space: nowrap;
}


#siteTitle.transformed {
    margin-left: -1500px;
}


#tryItButton {
    margin-top: 0px;
    opacity: 1;
    transition: opacity 0.5s ease;
}
#tryItButton.transformed {
    animation: fadeAway 0.5s forwards;
}


h2 {
    margin-top: -80px;
    font-size: 35px;
    font-family: BarlowCondensed;
    color: #bdc9db;
}
h2.transformed {
    animation: fadeAway 0.5s forwards;
}


#floodStatusButton {
    opacity: 0;
    display: none;
    margin-left: 20px;
    margin-top: -20px;
    transition: opacity 0.5s ease;
}
#floodStatusButton.transformed {
    display:block;
    opacity:1;
}


button {
    background-color: #e1c065;
    padding: 20px;
    color: black;
    width: fit-content;
    border: none;
    border-radius: 50px;
    font-size: 30px;
    outline: none;
    font-weight: bold;
    transition: transform 0.3s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.inputArea {
    display: flex;
    flex-direction: row;
}


#cityInput {
    display: none;
    width: fit-content;
    margin-left: 20px;
    margin-top: 30px;
    padding: 20px;
    border: none;
    border-radius: 50px;
    background-color: black;
    font-size: 30px;
    color: #f9f9f9;
    outline: none;
    opacity: 30%;
}
#cityInput.transformed {
    display:block;
    animation: fadeIn 0.5s;
}


#cityInput::placeholder {
    color: white;
}


#cityInputButton {
    display: none;
    margin-top: 30px;
    margin-left: 20px;
}
#cityInputButton.transformed {
    display:block;
    animation: fadeIn 0.5s forwards;
}


#outputSection {
    display: none;
    width: 510px;
    height: 510px;
    margin-left: 20px;
    margin-top: 32px;
    padding: 20px;
    border: none;
    border-radius: 30px;
    background-color: #718cb6;
    font-size: 30px;
    animation: fadeIn 0.5s;
}


footer {
    font-size: 15px;
    text-align: left;
    width: 100%;
    position: fixed;
    bottom: -12px;
    color: #718cb6;
}


.globeContainer {
    display: flex;
    justify-content: center;

    /* TODO: remove */
    display: none;
}


#rotatingGlobe{
    user-select: none;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    position: relative;
    bottom: -200px;
    transform: scale(1.3);
    transition: transform 2s ease, bottom 2s ease, right 5s ease, position 2s ease;
}
#rotatingGlobe.transformed {
    display:block;
    position: absolute;
    bottom: -200px;
    right: 50px;
    transform: scale(2.3);
}


/*.glow{
    width: 800px;
    height: 800px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
    position: absolute;
    bottom: -350px;
    right: 100px;
    transform:translate(-30%,-70%);
}*/


@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 320px) {
}
